 @mixin parrafos {
 font-size: 1rem;
 text-align: justify;
text-align: left;
}


 @mixin anclas {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold ;
 }


 p {
    @include parrafos

 }